# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
.turbo
dist
build
out

# Environment variables
.env
.env.local
.env.*.local

# Testing
coverage

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
